<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% content.forEach(function(value){ %>
      <p>今、貯金箱に入っているお金の合計は<span>「<%= value['sum(okane)']%>円」</span>だよ。</p>
    <% }) %>
    <button id="modalOpen_in" class="btn">お金を入れる</button>
    <button id="modalOpen_out" class="btn">お金を出す</button>
  </body>
</html>
